*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

nav .left img{
  width: 90px;
}

nav .center ul {
  position: relative;
  display: flex;
}

nav .center ul li {
  list-style: none;
}

nav .center ul li a {
  display: inline-block;
  color:seagreen;
  margin: 45px;
  text-decoration: none;
  font-weight: bold;
}

nav .center ul li a:hover {
  text-decoration: underline;
}

nav{
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  border-bottom: 1px solid #41b941;
  padding: 0px 5% 0px 5%;
  background-color:skyblue;
}

nav .right a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #93c693;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
}

nav .right a:hover {
  text-decoration: underline;
}

.slides{
  width: 100%;
  position: relative;
}

.slides .slide{
  display: none;
}

.slides .slide img{
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides .navigation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slides .navigation .prev, .slides .navigation .next{
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0,0,0,0.2);
  user-select: none;
  transition: 0.6s ease;
}

.slides .navigation .prev:hover, .slides .navigation .next:hover{
  background: rgba(0,0,0,1);
}

@keyframes fade {
  from{opacity: 0.3}
  to {opacity: 1}
}

@media (max-width: 992px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 18px;
    padding: 13px;
  }
}

@media (max-width: 768px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 15px;
    padding: 10px;
  }
}

@media (max-width: 576px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 12px;
    padding: 7px;
  }
}

@media (max-width: 360px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 11px;
    padding: 6px;
  }
}

footer {
  text-align: center;
  font-size: 10px;
  font-family: 'Segoe UI';
  color:darkgrey;
}

